a, p, h1, h2, h3, li, div, input, strong, button, textarea, .menus {
    color: white !important;
    font-family: Segoe UI !important;
}
#appSearch {
    background-image: url("../../img/icons/tbSearchW.png") !important;
    border-bottom: 1px solid white !important;
}
::placeholder {
    color: white;
}
#taskbar {
    width: auto;
    border-radius: 0px;
    bottom: 0;
    text-align: left !important;
    background: transparent;
}
.window {
    background-color: transparent;
}
#appsmenu, #quickweanews {
    margin: unset !important;
    bottom: 50px !important;
    left: -2px;
    border-radius: 0px;
    border-top-right-radius: 16px;
    background-color: transparent;
}
.window.fullSizeWindow {
    top: 0 !important;
}

.quickweanewsap {
    display: none;
}
.context-menu {
    background: transparent;
}   
#quickweanews {
    display: none !important;
}
#timedateflyout {
    margin: unset !important;
    bottom: 50px !important;
    right: -2px !important;
    border-radius: 0px;
    border-top-left-radius: 16px;
    background: transparent;
}

.tdfi {
    filter: invert(1);    
}

.currenttheme::before {
    content: "Classic";
}
.tasktimedate {
    display: block !important;
    top: calc(0px + 13px);
    position: absolute;
    right: 0;
    border: 2px solid transparent;
    transition: 0.2s;
}
#timedateflyout {
    top: unset !important;
    bottom: 60px;
}
.tasktimedate:hover {
    background: transparent !important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(0, 0, 0, 0.200);
    height: 15px;
    border-radius: 5px;
}
.tasksearch {
    position: relative !important;
    margin: unset !important;
    display: none;
    transition: 0.5s;
    top: unset !important;
    bottom: 19px !important;
    height: calc(0% + 32px) !important;
    visibility: visible;
    opacity: 1;
}

#appsmenu.openedtop, #quickweanews.opened {
    margin: unset !important;
    bottom: 50px !important;
    top: unset !important;
}
#quickweanews {
    top: unset !important;
    bottom: 60px;
}
.widgetstask {
    display: inline-block !important;
}
.betweenapptitlentsksrchbox, #taskbarSearchBoxchk, .taskbarSearchBoxTxt {
    display: inline-block;
}