#taskbar, #appsmenu, #quickweanews, #timedateflyout, .window, .context-menu {
    background-color: rgba(0, 0, 0, 0.6);
}
a, p, h1, h2, h3, li, div, input, strong, button, textarea, .menus {
    color: white !important;
    font-family: Segoe UI !important;
}
hr {
    border-top: 1px solid white;
}

::placeholder {
    color: white;
}
#appSearch {
    background-image: url("../../img/icons/tbSearchW.png");
    border-bottom: 1px solid white !important;
}
#userProfile hr {
    margin: 0 !important;
    background: white;
    border: 0px solid transparent;
}
.taskbarPanel.activeTab {
    background: rgba(0, 0, 0, 0.6);
}
.taskbarPanel:hover, .taskbarPanel.minimizedTab:hover {
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(0, 0, 0, 0.200);
    border-radius: 5px;
}
.quickweanewsap:hover, .timedatetext:hover {
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(0, 0, 0, 0.200);
    border-radius: 5px;
}
#appsBtn.active {
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid rgba(0, 0, 0, 0.200);
    border-radius: 5px;
}

.tdfi {
    filter: invert(1);    
}
#abranding img {
    filter: invert(0);
}