#taskbar, #appsmenu, #quickweanews, #timedateflyout, .window, .context-menu {
    background-color: rgba(0, 0, 0, 0.6);
}
a, p, h1, h2, h3, li, div, input, strong, button, textarea, .menus {
    color: white !important;
    font-family: Segoe UI !important;
}
hr {
    border-top: 1px solid white;
}
.notiwindow {
    filter: invert(0);
}
::placeholder {
    color: white;
}
#appSearch {
    background-image: url("../../img/icons/tbSearchW.png") !important;
    border-bottom: 1px solid white !important;
}
#userProfile hr {
    margin: 0 !important;
    background: white;
    border: 0px solid transparent;
}
.taskbarPanel.activeTab {
    background: rgba(255, 255, 255, 0.6);
}
.taskbarPanel:hover, .taskbarPanel.minimizedTab:hover {
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(0, 0, 0, 0.200);
    border-radius: 5px;
}
.quickweanewsap:hover, .timedatetext:hover {
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    color: black !important;
}
#appsBtn.active {
    background: rgba(255, 255, 255, 0.6);
    border: 2px solid rgba(0, 0, 0, 0.200);
    border-radius: 5px;
}
.quickweanewsap.active, .timedatetext.active {
    background: rgba(255, 255, 255, 0.6);
    border: 2px solid rgba(0, 0, 0, 0.200);
    border-radius: 5px;
    color: black !important;

}

.tdfi {
    filter: invert(1);    
}
#abranding img {
    filter: invert(0);
}
#appicons a:hover, #tasksicons a:hover {
	-moz-border-radius:3px; 
    -webkit-border-radius:3px;
    background: rgba(255, 255, 255, 0.4);
    border: 1px solid rgba(0, 0, 0, 0.200);
    transition: 0.1s;
}
.taskbarPanel.activeTab > strong {
    margin: 9px 0px;
    color: black !important;
}
.taskbarPanel:hover > strong {
    margin: 9px 0px;
    color: black !important;
}


.tab {
    border-left: 2px solid white !important;
}