.window {
    display: block;
    border-radius: 0px;
    position: fixed;
    height: 100% !important;
    top: 36px !important;
    bottom: 42px !important;
    left: 0 !important;
    border: 0px solid transparent;
    width: 100% !important;
    z-index: 99999999;
}
.wincontent {
    height: 91% !important;
    width: 100% !important;
}
#appSearch, #taskSearch {
    display: none;
}
#appicons {
    margin: 0px 0 7px 0px !important;
    height: 88%;
 }
 #appsmenu, #timedateflyout, #quickweanews {
    bottom: 0 !important;
    z-index: 999 !important;
    width: 0%;
    height: 0%;
    left: 0 !important;
    right: 0 !important;
    top: 35px !important;
    border-radius: 0px !important;
 }
 #appsmenu.opened, #appsmenu.openedtop, #timedateflyout.opened, #quickweanews.opened {
    width: auto !important;
    height: auto !important;
    bottom: 0 !important;
 }
 .winmaximize {
    display: none !important;
 }
 .currenttheme::before {
    content: "Mobile";
}
.taskbarPanel strong {
    font-size: 0px !important;
}
#taskbar {
    margin: 0 auto !important;
    bottom: 0px !important;
    border-top-right-radius: 5px !important;
    border-top-left-radius: 5px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.taskbarPanel img.taskpanelimg {
    margin: 0px 0px 0px 0px !important;
}

.centrdAppsTxt, #centrdAppsChk, .betweenapptitlencentrd, #AppTitleOnTaskBarPanelChk, .addAppTitleTaskbarTxt, .tskbrtab, #centrdAppsChkSetup, #AppTitleOnTaskBarPanelStp {
    display: none !important;
}
#firstexperiencewindow {
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    position: absolute;
    border-radius: 0px;
    border: 0px solid transparent;
}
.circle1, .circle2, .circle3 {
    top: 45vh;
}

