/*
.tab {
    padding: 10px;
    height: 70%;
    overflow-y: scroll;
    margin: -15px 0px;
}
#tabsettings {
    padding: 10px 10px;
}
#tabsettings button {
    margin: 0px -1px;
}*/

.tab {
    padding: 10px;
    top: 65px;
    position: fixed;
    width: calc(100% - 134px);
    height: 93%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: -60px 114px;
    border-left: 2px solid black;
}
#tabsettings {
    padding: 10px 0px;
    width: 0%;
    height: 10%;
}
#themesrow button {
    margin: 6px 3px;
    white-space: nowrap;
}
#tabsettings button {
    margin: 2px -1px;
    white-space: nowrap;
}
.tabset {
    display: none;
}
#themesrow {
    display: flex;
    overflow-y: scroll;
}

@media screen and a(max-device-width: 768px) {
    #themesrow {
       display: none !important;
    }  
}
